* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: radial-gradient(#dfdfdf, #ffd6d6);
}

.header {
    display: inline;
}

.header h3 {
    font-family: 'Times New Roman';
    font-size: 56px;
    text-align: left;
    display: inline
}

hr {
    color: black;
    width: 100%;
    background-color: black;
    height: 5px;
}

.menu-bar {
    text-align: center;
    background: radial-gradient(#dfdfdf, #ffd6d6);
    float: left;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px;
    color: black;
}

.menu-bar ul li {
    margin-left: 5px;
    margin-right: 5px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: black;
}


/*.active,
.menu-bar ul li:hover {
background-color: whitesmoke;
border-radius: 3px;
}*/

.menu-bar .fa {
    margin-right: 5px;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    margin-left: 15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 3px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    padding: 2px;
    border-bottom: 1px;
    background: radial-gradient(#dfdfdf, #ffd6d6);
    background: ;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    background-color: white;
}

.sub-menu-1 .fa {
    text-align: right;
    margin-left: 5px;
}

.sub-menu-2 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    background-color: white;
}

.border-1 {
    border: black 2px solid;
}

.menu-bar ul li:hover .sub-menu-2 {
    display: block;
    position: absolute;
    margin-left: 15px;
}

.menu-bar ul li:hover .sub-menu-2 ul {
    display: block;
    margin: 3px;
}

.menu-bar ul li:hover .sub-menu-2 ul li {
    padding: 2px;
    border-bottom: 1px;
    background: radial-gradient(#dfdfdf, #ffd6d6);
    background: ;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-2 ul li a:hover {
    background-color: white;
}

.sub-menu-3 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    background-color: white;
}

.border {
    border: black 2px solid;
}

.menu-bar ul li:hover .sub-menu-3 {
    display: block;
    position: absolute;
    margin-left: 15px;
}

.menu-bar ul li:hover .sub-menu-3 ul {
    display: block;
    margin: 3px;
}

.menu-bar ul li:hover .sub-menu-3 ul li {
    padding: 2px;
    border-bottom: 1px;
    background: radial-gradient(#dfdfdf, #ffd6d6);
    background: ;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-3 ul li a:hover {
    background-color: white;
}

.sub-menu-4 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    background-color: white;
}

.border {
    border: black 2px solid;
}

.menu-bar ul li:hover .sub-menu-4 {
    display: block;
    position: absolute;
    margin-left: 15px;
}

.menu-bar ul li:hover .sub-menu-4 ul {
    display: block;
    margin: 3px;
}

.menu-bar ul li:hover .sub-menu-4 ul li {
    padding: 2px;
    border-bottom: 1px;
    background: radial-gradient(#dfdfdf, #ffd6d6);
    background: ;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-4 ul li a:hover {
    background-color: white;
}

.sub-menu-5 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    background-color: white;
}

.border {
    border: black 2px solid;
}

.menu-bar ul li:hover .sub-menu-5 {
    display: block;
    position: absolute;
    margin-left: 15px;
}

.menu-bar ul li:hover .sub-menu-5 ul {
    display: block;
    margin: 3px;
}

.menu-bar ul li:hover .sub-menu-5 ul li {
    padding: 2px;
    border-bottom: 1px;
    background: radial-gradient(#dfdfdf, #ffd6d6);
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-5 ul li a:hover {
    background-color: white;
}

.menu-bar ul li .sub-menu-1 ul li a .fa {
    float: right;
}

.img img {
    padding-top: 7px;
    margin-right: 900px;
    width: 250px;
}


/*---------------INNER MENU PART-------------*/

.inner-menu-1 {
    display: none;
}

.hover-me:hover .inner-menu-1 {
    display: block;
    text-align: left;
}

.footer p {
    display: inline-block;
    padding-left: 10px;
}

.footer p a {
    display: inline-block;
    text-decoration: none;
    color: black;
}